#!/usr/bin/make -f
# This file was originally written by Joey Hess and Craig Small.
# This file was modified by Jeroen Koekkoek for firefox-branding package.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	rm -rf $(CURDIR)/debian/browser.jar \
	       $(CURDIR)/debian/browser.jar.d \
	       $(CURDIR)/debian/en-US.jar \
	       $(CURDIR)/debian/en-US.jar.d
	dh $@

override_dh_auto_build:
	# Rebrand browser.jar
	mkdir -p "$(CURDIR)/debian/browser.jar.d/content/branding"

	cp $(CURDIR)/browser.jar $(CURDIR)/debian/browser.jar
	cp $(CURDIR)/debian/branding/content/* \
	   $(CURDIR)/debian/browser.jar.d/content/branding
	cp $(CURDIR)/debian/branding/default16.png \
	   $(CURDIR)/debian/browser.jar.d/content/branding/icon16.png
	cp $(CURDIR)/debian/branding/default48.png \
	   $(CURDIR)/debian/browser.jar.d/content/branding/icon48.png
	cp $(CURDIR)/debian/branding/icon64.png \
	   $(CURDIR)/debian/browser.jar.d/content/branding/icon64.png

	cd $(CURDIR)/debian/browser.jar.d && \
	zip -q -r $(CURDIR)/debian/browser.jar \
		content/branding/*

	# Rebrand en-US.jar
	mkdir -p $(CURDIR)/debian/en-US.jar.d

	cp $(CURDIR)/en-US.jar $(CURDIR)/debian/en-US.jar

	unzip -q -d $(CURDIR)/debian/en-US.jar.d $(CURDIR)/debian/en-US.jar \
		locale/branding/brand.dtd \
		locale/branding/brand.properties

	for f in $(CURDIR)/debian/en-US.jar.d/locale/branding/*; do \
		sed -i "s/Iceweasel/Firefox/" $$f; \
	done

	cd $(CURDIR)/debian/en-US.jar.d && \
	zip -q -r $(CURDIR)/debian/en-US.jar \
		locale/branding/*

override_dh_auto_install:
	cp $(CURDIR)/debian/branding/default16.png \
	   $(CURDIR)/debian/firefox-branding/usr/share/icons/hicolor/16x16/apps/firefox.png
	cp $(CURDIR)/debian/branding/default32.png \
	   $(CURDIR)/debian/firefox-branding/usr/share/icons/hicolor/32x32/apps/firefox.png
	cp $(CURDIR)/debian/branding/default48.png \
	   $(CURDIR)/debian/firefox-branding/usr/share/icons/hicolor/48x48/apps/firefox.png
	cp $(CURDIR)/debian/branding/icon64.png \
	   $(CURDIR)/debian/firefox-branding/usr/share/icons/hicolor/64x64/apps/firefox.png
	cp $(CURDIR)/debian/branding/mozicon128.png \
	   $(CURDIR)/debian/firefox-branding/usr/share/icons/hicolor/128x128/apps/firefox.png

%:
	dh $@ 
